.header {
    background-color: #000000;
}

.header__inner {
    padding: 10px 20px;
}

.verify-email__content {
    position: relative;
    width: 100vw;
    height: 100vh;
}

.verify-email__inner {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.verify-email__message {
    text-align: center;
}

.verify-email__message h2 {
    margin: 0;
}

.verify-email__button--submit {
    background-color: #d9d9d9;
    border: 2px solid #000000;
    border-radius: 5px;
    padding: 10px 20px;
    color: #000000;
    font-weight: bold;
    font-size: 18px;
    text-decoration: none;
}

.verify-email__button--resend {
    border: none;
    background: none;
    color: #3490d6;
    font-size: 16px;
    cursor: pointer;
}