.address-change__content {
    margin: 30px auto 0;
    max-width: 1230px;
}

.address-change__header {
    margin: 0 auto 50px;
    text-align: center;
    width: 70%;
}

.address-change__form {
    margin: 0 auto;
    width: 70%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form__label {
    width: 80%;
    text-align: left;
    margin-bottom: 5px;
    font-weight: bold;
}

.form__input--text {
    margin-bottom: 30px;
    width: 80%;
    height: 40px;
    outline: none;
}

.form__button {
    margin-top: 50px;
    width: 80%;
}

.form__button--submit {
    width: 100%;
    color: #fff;
    background-color: #ff5555;
    border: none;
    border-radius: 3px;
    padding: 10px 0;
    font-size: 18px;
    cursor: pointer;
}

.form__error {
    width: 80%;
    color: red;
    text-align: left;
    margin-top: -30px;
    margin-bottom: 30px;
}