.header {
    background-color: #000000;
}

.header__inner {
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__input--text {
    width: 30%;
    height: 35px;
    outline: none;
    padding: 0 20px;
}

.header__input--text::placeholder {
    color: #000000;
}

.header__buttons {
    display: flex;
    align-items: center;
    gap: 20px;
}

.header__button--logout {
    color: #fff;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.header__button--login {
    color: #fff;
    text-decoration: none;
}

.header__button--mypage {
    color: #fff;
    text-decoration: none;
}

.header__button--sell {
    color: #000000;
    background-color: #fff;
    padding: 5px 15px;
    border-radius: 3px;
    text-decoration: none;
}