.sell__content {
    max-width: 1230px;
    margin: 30px auto 100px;
}

.sell__header {
    text-align: center;
}

.sell__form {
    text-align: center;
    width: 70%;
    margin: 0 auto;
}

.form__img {
    position: relative;
    width: 70%;
    height: 220px;
    border: 2px dashed #ccc;
    border-radius: 6px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form__img-preview {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: none;
}

.form__img-button {
    color: #ff5655;
    border: 2px solid #ff5655;
    border-radius: 5px;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    z-index: 2;
}

.form__img-button:hover {
    opacity: 0.8;
}

.form__header--primary {
    margin: 0 auto;
    width: 70%;
    text-align: left;
    color: #5f5f5f;
    border-bottom: 1px solid #afafaf;
    padding-bottom: 5px;
}

.form__header--primary h2 {
    margin: 40px 0 0;
}

.form__header--secondary {
    margin: 0 auto;
    width: 70%;
    text-align: left;
}

.form__header--secondary h3 {
    margin-bottom: 10px;
}

.form__cat {
    margin: 0 auto;
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
}

.form__cat-button {
    cursor: pointer;
}

.form__cat-button span {
    display: inline-block;
    padding: 4px 14px;
    border: 2px solid #ff5655;
    border-radius: 999px;
    color: #ff5655;
}

.form__cat-button input:checked + span {
    color: #fff;
    background-color: #ff5655;
}

.form__condition-select {
    width: 70%;
    height: 40px;
}

.form__input--text {
    width: 70%;
    height: 40px;
    outline: none;
}

.form__input--textarea {
    width: 70%;
}

.form__input-price::placeholder {
    font-weight: bold;
    color: #000000;
}

.form__button-submit {
    margin-top: 100px;
    width: 70%;
    color: #fff;
    background-color: #ff5555;
    border: none;
    border-radius: 3px;
    padding: 5px 0;
    font-size: 18px;
    font-weight: bold;
}

.form__error {
    margin: 0 auto;
    width: 70%;
    color: red;
    text-align: left;
}